/* Global *************************** */

html, body {
	background: #fff url('../images/returnUser_bg.gif') top left repeat-x;
	margin: 0;
	padding: 0;
	font-family: Verdana, Tahoma, Sans-serif;
	font-size: 0.8em;
    height: 100%;
	}

p {
	font-family: Verdana, Tahoma, Sans-serif;
	font-size: 11px;
	line-height: 120%;
	}

a.white:link, a.white:active, a.white:visited {
	color: #ffffff;
	text-decoration: none;
	}

a.white:hover {
	color: #ffffff;
	text-decoration: underline;
	}

h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	margin: 0;
	padding: 0;
	}

h2 {
	font-size: 26px;
	color: #EC1C24;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	}

h3 {
	font-size: 21px;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: lighter;
	padding: 0;
	margin: 0;
	}

h2 em {
	color: #333;
	font-size: 33px;
	font-weight: bold;
	font-style: normal;
	}

a:link, a:active, a:visited {
	color: #004B80;
	text-decoration: underline;
	}

input, select, textarea {
	border: 1px solid #666;
	padding: 3px;
	}

input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
	background: #D7F1F4;
	border: 1px solid #70A6CD;
	padding: 3px;
	}

input.focus, select.focus, textarea.focus {
	background: #D7F1F4;
	border: 1px solid #70A6CD;
	padding: 3px;
	}

input[type="radio"], input[type="checkbox"], input[type="image"] {
	border: 0px;
	}

label {
	font-size: 10px;
	}

#uberContainer {
    min-height: 100%;
	height: 100%;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: auto;
}

/* Page header *************************** */

div.returnUser {
	display: block;
	margin: 0 auto;
	text-align: right;
	padding: 0;
	margin: 0 auto;
	width: 780px;
	background: transparent;
	border: 0px solid green;
	position: relative;
	height:34px;
	}

ul.sliderInline {
	padding: 0;
	padding-left: 30px;
	margin: 0;
	text-align: right;
	background: transparent url('../images/ulSlider_left_bg.gif') top left no-repeat;
	float: right;
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	font-size: 14px;
	color: #ffffff;
	height: 34px;
	list-style: none;
	}

.sliderInline li {
	background: transparent url('../images/ulSlider_right_bg.gif') top right no-repeat;
	padding: 0;
	padding-right: 30px;
	padding-top: 6px;
	margin: 0;
	display: inline-block;
	height: 34px;
	*width: 280px;
	*text-align: center;
	}

.sliderInline li#loggedIn {
	*width: 140px;
	*text-align: center;
	/*
	padding-left: 24px;
	background: url('..images/icon_disconnect.gif') top left no-repeat;
	*/
	}

.returnUser a:link, .returnUser a:active, .returnUser a:visited {
	color: #ffffff;
	}

div.headerMain {
	padding: 0;
	margin: auto;
	background: #fff;
	clear: both;
	padding-top: 40px;
	padding-bottom: 18px;
	}

div.headerSub {
	padding: 0;
	margin: auto;
	background: #fff;
	clear: both;
	}

h1.branding {
	padding-left: 20px;
	color: #333;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	position: relative;
	}

.headerSub h1.branding {
	padding-left: 20px;
	margin-bottom: 10px;
	}

/* Page body *************************** */

div.bodyContainer {
	width: 780px;
	padding: 0;
	padding-bottom: 20px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: transparent;
	}

div.magnifier {
	position: relative;
	top: 12px;
	left: 22px;
	z-index: 24;
	}

/* Initial search *************************** */

div.searchContainer {
	margin: 0 auto;
	padding: 0;
	background: transparent url('../images/search_leadIn_bg.jpg') top left no-repeat;
	}

.searchContainer img.topper {
	position: relative;
	top: 0px;
	line-height: 0;
	margin: 0;
	padding: 0;
	}

.searchContainer div.fieldContainer {
	width: 690px;
	margin: 0;
	padding: 0;
	border: 0px solid yellow;
	margin: auto;
	background: transparent /* url('../images/fieldContainer_bg.jpg') top left no-repeat */;
	padding: 25px;
	position: relative;
	top: 12px;
	min-height: 100px;
	}

.searchContainer div.searchFields {
	width: 670px;
	margin: 0;
	padding: 0;
	border: 0;
	padding-top: 8px;
	padding-left: 16px;
	position: relative;
	}

.searchContainer form {
	padding: 24px;
	padding-top: 12px;
	margin: 0;
	float: none;
	}

div.send {
	float: left;
	clear: right;
	font-size: 13px;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	width: 118px;
	margin-left: 12px;
	}

.send input.getJobs {
	position: relative;
	top: 15px;
	display: inline;
	border: 0px solid red;
	}

input.inputBtn {
	border: 0px;
	}

h4.subNote {
	margin: 0;
	margin-top: 2px;
	margin-left: 2px;
	padding: 0;
	clear: both;
	font-size: 11px;
	font-weight: normal;
	color: #666;
	}

/* Job search results *************************** */

div.initResults {
	background: transparent url('../images/initResults_leadIn_bg.jpg') top left no-repeat;
	width: 780px;
	padding: 0;
	margin: 0;
	position: relative;
	}

div.shellResults {
	background: transparent;
	width: 780px;
	padding: 0;
	margin: 0;
	}

h2.resultsHeader {
	margin: 0;
	padding: 0;
	padding-top: 24px;
	padding-left: 72px;
	clear: both;
	}

h3.resultsListHeader {
	padding: 0;
	margin: 0;
	margin-top: 12px;
	margin-left: 40px;
	margin-bottom: 4px;
	}

h3.searchHeader {
	padding: 0;
	margin: 0 36px 0 70px;
	padding-top: 36px;
	margin-bottom: 4px;
	font-size: 14px;
	font-weight: normal;
	}

.searchHeader em {
	padding: 0;
	margin: 0;
	padding-top: 24px;
	margin-bottom: 4px;
	font-size: 24px;
	font-weight: normal;
	font-style: normal;
	}

div.resultsContainer {
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
	}

div.adminResults {
	padding: 0;
	}

div#map {
	width: auto;
	height: 300px;
	margin: 0 40px 20px 20px;
	}

table#jobsTeaser {
	clear: both;
	border: 0px;
	padding: 0;
	margin: 0 auto;
	width: 700px;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 11px;
	border: 0px solid #ccc;
	}

#jobsTeaser dl.listNav a:link, #jobsTeaser dl.listNav a:active, #jobsTeaser dl.listNav a:visited, #jobsTeaser dl.listNav a:hover {
	color: white;
	text-decoration: underline;
	}

#jobsTeaser tr {
	padding: 0;
	margin: 0;
	border: 0px;
	}

#jobsTeaser td {
	padding: 6px;
	margin: 0;
	border: 0px;
	font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 13px;
	}

#jobsTeaser dl {
	font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
	list-style: none;
	}

#jobsTeaser dt {
	margin: 0;
	padding: 0;
	clear: both;
	display: inline;
	float: left;
	}

#jobsTeaser dd {
	float: right;
	margin: 0;
	padding: 0;
	}

#jobsTeaser dd span.code {
	display: inline;
	margin-left: 60px;
	margin-right: 8px;
	}

#jobsTeaser dd.pageControls {
	padding: 0;
	}

.pageControls a.pageBtn {
	float: left;
	padding: 2px;
	}

.odd {
	background-color: #efefef;
	border-bottom: 1px solid #ccc;
	}

.even {
	background-color: transparent;
	border-bottom: #6DD0ED;
	}

#jobsTeaser dl a {
	display: inline-block;
	}

.bookmarkBtn {
	position: absolute;
	top: -10px;
	right: 20px;
}

/* Begin controls tier *************************** */

div.controlsTier {
	clear: both;
	float: left;
	position: relative;
	left: 160px;
	}

/* Re-search variations *************************** */

div.reSearch {
	padding: 5px 10px 10px 10px;
	float: left;
	}

.reSearch div.keyword {
	float: left;
	position: relative;
	font-size: 11px;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	}

.reSearch .keyword label {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
	}

.reSearch .keyword label em {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	color: #0071BB;
	}

.reSearch .keyword input#keywordField {
	font-size: 12px;
	color: #333;
	padding: 3px;
	border: 1px solid #666;
	display: block;
	width: 160px;
	}

.reSearch div.geo {
	float: left;
	clear: right;
	padding-left: 20px;
	font-size: 11px;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	border: 0px solid green;
	}

.reSearch .geo label {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
	}

.reSearch .geo label em {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	color: #0071BB;
	}

.reSearch .geo input#geoField {
	font-size: 12px;
	color: #333;
	padding: 3px;
	border: 1px solid #666;
	display: block;
	width: 160px;
	}

div.reSend {
	float: left;
	clear: right;
	font-size: 13px;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin-left: 12px;
	}

.reSend input.reSearchButton {
	position: relative;
	top: 15px;
	display: inline;
	border: 0px solid red;
	*top: 17px;
	}

div.accountControls {
	float: left;
	margin: 12px;
	padding: 0;
	padding-left: 20px;
	border-left: 1px solid #ccc;
	}

.accountControls ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: "Trebuchet MS", Tahoma, Verdana, sans-serif;
	font-size: 12px;
	}

.accountControls ul a:link, .accountControls ul a:active, .accountControls ul a:visited {
	color: #004B80;
	text-decoration: none;
	}

.accountControls ul a:hover {
	text-decoration: underline;
	}

.accountControls ul li {
	padding-left: 21px;
	padding-top: 1px;
	padding-bottom: 2px;
	}

.accountControls ul li.myProfile {
	background: url('../images/icon_myProfile.gif') left no-repeat;
	}

.accountControls ul li.myResume {
	background: url('../images/icon_myResume.gif') left no-repeat;
	}

.accountControls ul li.workHistory {
	background: url('../images/icon_workHistory.gif') left no-repeat;
	}

.accountControls ul li.educationHistory {
	background: url('../images/icon_educationHistory.gif') left no-repeat;
	}

/* Registration *************************** */

h3.registrationHeader {
	padding: 0;
	padding-top: 24px;
	margin: 0;
	}

h3.registrationHeader img {
	padding-top: 15px;
	}

h3.registrationHeader em {
	font-size: 26px;
	color: #DD102E;
	font-style: normal;
	}

h3.regSection {
	margin-top: 12px;
	position: relative;
	}

div.slimReg {
	margin: 0;
	padding: 0 40px;
	clear: both;
	float: left;
	border: 0px solid yellow;
	width: 700px;
	min-height: 200px;
	height: auto;
	}

#supportLead {
	background: transparent url('../images/plain_leadIn_bg.jpg') top left no-repeat;
	padding-top: 40px;
	}

#supportLead p {
	font-size: 12px;
	line-height: 19px;
	font-family: Verdana, Sans-serif;
	margin: 0 48px;
	margin-top: 24px;
	text-align: justify;
	}

#registerLead {
	background: transparent url('../images/plain_leadIn_bg.jpg') top left no-repeat;
	}

#accountLead {
	background: transparent url('../images/account_leadIn_bg.jpg') top left no-repeat;
	}

#adminLead {
	background: transparent url('../images/admin_leadIn_bg.jpg') top left no-repeat;
	}

div.singleWide {
	background: transparent;
	float: left;
	padding: 0;
	margin: 0;
	width: 700px;
	margin-bottom: 12px;
	border: 0px solid yellow;
	}

div.doubleWide {
	background: transparent url('../images/regDiv_bg.gif') top repeat-y;
	float: left;
	padding: 0;
	margin: 0;
	width: 700px;
	margin-bottom: 12px;
	border: 0px solid yellow;
	}

div.regLeft {
	float: left;
	width: 320px;
	display: inline;
	}

div.regRight {
	float: right;
	width: 320px;
	display: inline;
	}

div.accountMaint, div.accountMaintSub {
	float: left;
	width: 320px;
	display: inline;
	border: 1px solid #ccc;
	padding: 24px;
	padding-top: 12px;
	position: relative;
	left: 50%;
	top: 12px;
	margin-left: -184px;
	background: #fff;
	}

div.accountMaintSub {
	width: 370px;
	}

h3#formSection1 {
	background: transparent url('../images/bigBullet_1.gif') left no-repeat;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 32px;
	}

h3#formSection2 {
	background: transparent url('../images/bigBullet_2.gif') left no-repeat;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 32px;
	}

h3#formSection3 {
	background: transparent url('../images/bigBullet_3.gif') left no-repeat;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 32px;
	}

h3#formSection4 {
	background: transparent url('../images/bigBullet_4.gif') left no-repeat;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 32px;
	}

.slimReg form {
	float: left;
/*	width: 500px; */
	}

.slimReg h2 {
	font-size: 20px;
	font-weight: normal;
	color: #CC0000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
	}

.slimReg fieldset {
	position: relative;
	right: 0px;
	border: 0;
	margin: 0;
	margin-left: 12px;
	padding: 0;
	padding-top: 16px;
	background: transparent;
	}

fieldset#loginInfo {
	padding-bottom: 12px;
	}

div.formTier {
	display: table;
	clear: both;
	border: 0px solid #006699;
	float: none;
	margin: 0;
	padding: 0;
	margin-top: 2px;
	margin-bottom: 4px;
	width: 100%;
	}

div.formSlotLeft {
	text-align: left;
	float: left;
	}

div.formSlot {
	float: left;
	text-align: left;
	position: relative;
	margin-left: 16px;
	display: inline;
	}

.slimReg label {
	font-weight: bold;
	color: #333;
	/*font-family: Verdana, Helvetica, Arial, sans-serif;*/
	margin: 0;
	padding: 0;
	padding-bottom: 4px;
	display: block;
	position: relative;
	white-space: nowrap;
	}

.slimReg label em {
	color: #CC0000;
	font-weight: bold;
	font-style: normal;
	}

.slimReg input.formStd {
	font-size: 11px;
	color: #333;
	padding: 2px;
	width: 130px;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	}

.slimReg input.formStdWide {
	font-size: 11px;
	color: #333;
	padding: 2px;
	width: 280px;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 3px;
	}

.slimReg select {
	position: relative;
	top: 0px;
	font-size: 11px;
	color: #333;
	padding: 2px;
	width: 280px;
	margin-top: 3px;
	margin-bottom: 3px;
	}

.slimReg hr {
	height: 1px;
	color: #ccc;
	background-color: #ccc;
	line-height: 1px;
	border: 0;
	clear: both;
	}

div.radioBank {
	clear: both;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-top: 3px;
	margin-bottom: 9px;
	}

div.actionTier {
	clear: both;
	margin: 10px 0;
	background: url('../images/access_submit_bg.gif') top left no-repeat;
	height: 58px;
	padding: 0;
	padding-left: 14px;
	}

div.actionTierOffers {
	clear: both;
	margin: 10px 0;
	width: 680px;
	padding: 0;
	padding-bottom:14px;
	}

div.actionTierSlim {
	clear: both;
	margin: 0;
	padding: 0;
	display: block;
	border: 1px solid white;
	}

h3.action {
	float: right;
	text-align: right;
	margin: 0;
	padding: 0;
	padding-right: 12px;
	height: 58px;
	background: url('../images/access_submit_slider_bg.gif') top right no-repeat;
	}

input.getJobs {
	margin: 9px 0;
	margin-right: -2px;
	float: right;
	border: 0;
	display: inline;
	}

input.radioButton {
	border: 0;
	}

input.checkBox {
	position: relative;
	top: 2px;
	display: inline;
	border: 0;
	}

/* Account log-in *************************** */

h3.loginHeader {
	padding: 0;
	margin: 0;
	}

div.accountOpen {
	background: transparent;
	float: left;
	padding: 0;
	margin: 0;
	width: 700px;
	margin-bottom: 12px;
	border: 0px solid yellow;
	}

div.formBasicLeft {
	float: left;
	width: 320px;
	margin: 24px;
	margin-top: 12px;
	padding: 12px;
	display: inline;
	background: #ffffff;
	border: 1px solid #ccc;
	}

div.formExplainRight {
	float: right;
	width: 220px;
	margin: 12px 24px 0 0;
	padding: 12px 24px;
	display: inline;
	background: #FFFF99;
	border: 1px dashed #E4CD60;
	font-size: 0.9em;
	}

div.loginLeft {
	float: left;
	width: 320px;
	margin: 60px 24px 24px 24px;
	padding: 12px;
	display: inline;
	background: #ffffff;
	border: 1px solid #ccc;
	}

div.loginRight {
	float: right;
	width: 220px;
	margin: 60px 24px 0 0;
	padding: 12px 22px;
	display: inline;
	background: #FFFF99;
	border: 1px dashed #E4CD60;
	}

a.red {
	color: #CC0000;
	text-decoration: underline;
	}

div.loginForm {
	padding: 0;
	margin: 0;
	width: 700px;
	margin-bottom: 24px;
	border: 0px solid yellow;
	}

/* Account modify *************************** */

h3.accountHeader {
	font-size: 24px;
	color: #666;
	padding: 0;
	margin: 0;
	margin-top: 36px;
	margin-left: 24px;
	margin-bottom: 12px;
	}

/* Google ad words *************************** */

div.adContainer {
	position: absolute;
	z-index: 100;
	left: 50%;
	top: 100px;
	margin-left: 390px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	width: 120px;
	height: 300px;
	background: #ffcc00;
	}

/* Footer *************************** */

div.footer {
/*
	margin: auto;
	background: transparent;
	border: 0;
*/
	clear: both;
	padding-top: 24px;
	padding-bottom: 24px;
	margin: auto;
/*	border-top: 1px solid #ccc; */
	}

.footer p.footerLinks {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 11px;
	color: #666;
	text-align: center;
	}

.footerLinks a:link, .footerLinks a:active, .footerLinks a:visited {
	color: #666;
	}

.footerLinks em {
	font-style: normal;
	font-weight: normal;
	padding: 0 10px;
	}

/* *************************** */

img.floatRight {
	float: right;
	margin: 12px;
	margin-left: 24px;
	margin-right: 0;
	}

img.floatLeft {
	float: left;
	margin: 6px;
	margin-right: 20px;
	}

/* *************************** */

#bubble_tooltip {
	width: 340px;
	position: absolute;
	display: none;
	z-index: 100;
}
#bubble_tooltip .bubble_top {
	background-image: url('../images/bubble_top.gif');
	background-repeat:no-repeat;
	height:16px;
}
#bubble_tooltip .bubble_middle {
	background-image: url('../images/bubble_middle.gif');
	background-repeat: repeat-y;
	background-position: bottom left;
	padding-left: 12px;
	padding-right: 12px;
}
#bubble_tooltip .bubble_middle span {
	position: relative;
	top: -8px;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size: 11px;
}
#bubble_tooltip .bubble_bottom {
	background-image: url('../images/bubble_bottom.gif');
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	height: 31px;
	position: relative;
	top: -6px;
}

/* Validation Errors *************************** */

.globalValidate {
	padding: 20px 0 0 0;
	}

div.validateErrors {
	padding: 10px;
	border: 1px solid #FFF464;
	margin-bottom: 10px;
	margin-top: 20px;
	background: #FFFFCC url('../images/icon_alert.gif') top left no-repeat;
	padding-left: 48px;
	}

.validateErrors h4 {
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
	font-family: "Trebuchet MS", Verdana, Arial, Sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	}

.validateErrors ul {
	display: block;
	margin: 0;
	margin-left: 12px;
	padding: 0;
	list-style: none;
	font-family: Verdana, Arial, Sans-serif;
	font-size: 12px;
	font-weight: normal;
	}

.validateErrors ul li {
	margin: 0;
	padding: 0;
	color: #CC0000;
	margin-bottom: 3px;
	}

.validateErrors ul li em {
	display: inline;
	font-weight: bold;
	text-align: right;
	width: 140px;
	margin-right: 12px;
	}

div#updateResult {
	padding: 12px;
	margin-bottom: 20px;
	}

.globalSuccess {
	margin-left: 50px;
	margin-right: 50px;
	background: #FFFF66;
	color: #333;
	margin-top: 30px;
	margin-bottom: 30px;
	}

.resultSuccess {
	background: #FFFF66;
	color: #333;
	}

.resultFailure {
	background: #DD102E;
	color: #fff;
	}

div.checkerboardBG {
	background: transparent url('../images/checker_bg.gif') top left repeat;
	padding: 4px;
	margin: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 0;
	}

h3.resultFailure {
	display: block;
	position: relative;
	padding: 6px;
	padding-left: 10px;
	background: #fff;
	color: #DD102E;
	font-size: 16px;
	font-weight: bold;
	}

#updateResult h4 {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Verdana, Arial, Sans-serif;
	font-size: 14px;
	font-weight: normal;
	}

#updateResult h4.thumbsUp {
	background: transparent /* url('../images/icon_thumbsUp.gif') left no-repeat */;
/*	padding-left: 24px; */
	}

#updateResult h4.thumbsDown {
	background: transparent url('../images/icon_thumbsDown.gif') left no-repeat;
	padding-left: 24px;
	}

p.formStatic {
	margin: 0;
	padding: 0;
	font-family: Arial, Verdana, Sans-serif;
	font-size: 12px;
	font-weight: normal;
	}

span.editLink {
	font-size: 10px;
	font-weight: normal;
	margin-left: 12px;
	}

a.editLink:link, a.editLink:active, a.editLink:visited {
	text-decoration: underline;
	}

/* Admin UI Styles *************************** */

h3.adminReturn {
	text-align: center;
	padding: 24px;
	}

ul.adminMenu {
	list-style: none;
	margin: 0;
	margin-left: 24px;
	padding: 12px;
	border: 0;
	text-align: left;
	}

ul.adminMenu li {
	padding: 0;
	margin: 0;
	width: 260px;
	}

ul.adminMenu a {
	margin: 0;
	padding-top: 5px;
	font-size: 14px;
	font-family: "Trebuchet MS", Verdana, Sans-serif;
	font-weight: bold;
	text-decoration: none;
	display: block;
	height: 28px;
	padding-left: 36px;
	}

ul.adminMenu a:link, ul.adminMenu a:active, ul.adminMenu a:visited {
	background: transparent url('../images/admin_uiBtn_bg.gif') top left no-repeat;
	text-decoration: none;
	}

ul.adminMenu a:hover {
	background: transparent url('../images/admin_uiBtn_bg_hilite.gif') top left no-repeat;
	text-decoration: none;
	}

div.adminForm {
	margin: 0 auto;
	padding: 12px;
	padding-bottom: 0;
	margin-bottom: 12px;
	border: 1px solid #e7e7e7;
	background: #fff;
	}

div.adminFormAction {
	float: left;
	clear: right;
	position: relative;
	top: 18px;
	left: 24px;
	}

.adminForm input.formStd {
	width: 140px;
	}

div.centerIt {
	*width: 100%;
	margin: 6px auto;
	text-align: center;
	}

.imgButton {
	border: 0;
	}

select#statusSearch {
	display: inline;
	}

div.topJobsDesc {
	font-size: 12px;
	width: 480px;
	margin-top: 8px;
	font-family:
	}

.topJobsDesc strong {
	font-size: 14px;
	}

p.formLegend {
	font-size: 11px;
	padding: 6px;
	border-top: 1px solid #ccc;
	text-align: right;
	}

.formLegend em {
	color: #CC0000;
	font-style: normal;
	font-weight: bold;
	}

.textLeft {
	text-align: left;
	}

.textRight {
	text-align: right;
	}

div.labelSupp {
	font-size: 9px;
	}

div.siteMap {
	position: relative;
	}

.siteMap ul {
	list-style: none;
	margin: 0;
	padding: 10px 6px;
	font-size: 12px;
	}

.siteMap ul li {
	background: url('../images/bullet_arrowBlock.gif') 0 5px no-repeat;
	padding: 4px;
	padding-left: 21px;
	line-height: 15px;
	}

.siteMap ul li.listDesc {
	padding: 3px;
	margin-bottom: 9px;
	background: transparent;
	font-weight: bold;
	font-size: 12px;
	color: #333;
	}

div.contactContainer {
	display: block;
	margin: auto;
	text-align: center;
	}

ul.referList {
	padding: 8px;
	margin: 8px;
	margin-top: 0;
	font-size: 12px;
	line-height: 160%;
	}

div.searchFunctions {
	height: 40px;
	margin: 0;
	padding: 0;
	background: url('../images/searchFunctions_bgLeft.gif') top left no-repeat;
	padding-left: 6px;
	width: 734px;
	margin: auto;
	}

div.referOptions {
	height: 40px;
	margin: 0;
	padding: 0;
	background: url('../images/searchFunctions_bgRight.gif') top right no-repeat;
	float: right;
	clear: right;
	position: relative;
	top: 0px;
	right: 0px;
	}

.searchFunctions h4 {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Verdana, sans-serif;
	color: #666666;
	font-size: 15px;
	font-weight: bold;
	width: 140px;
	padding-left: 24px;
	background: url('../images/flag_arrow_sm.gif') top left no-repeat;
	position: relative;
	top: 11px;
	left: 6px;
	}

.referOptions ul {
	margin: 7px;
	list-style: none;
	font-size: 10px;
	}

.referOptions ul li {
	display: inline;
	border: 1px solid #D4D4D4;
	border-bottom: #e7e7e7;
	border-right: #e7e7e7;
	background: #ffffff;
	padding: 6px;
	margin: 0;
	white-space: nowrap;
	float: left;
	}

.referOptions a:link, .referOptions a:active, .referOptions a:visited, .referOptions a:hover {
	color: #0066CC;
	text-decoration: none;
	}

div.shim {
	clear: both;
	float: none;
	line-height: 0px;
	font-size: 0px;
	margin: 0;
	padding: 0;
	}

p.shim {
	clear: both;
	display: block;
	float: none;
	line-height: 0px;
	font-size: 0px;
	margin: 0;
	padding: 0;
	}

img.invisiShim {
	clear: both;
	height: 0px;
	width: 0px;
	}

#supportText h1, #supportText h2, #supportText h3, #supportText h4 {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	}

#supportText p, #supportText ul, #supportText ol  {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Verdana, Tahoma, Sans-serif;
	}

#supportText p {
	margin: 2px 0 12px;
	}

#supportText h3 {
	margin-bottom: 24px;
	}

#supportText h4 {
	font-size: 15px;
	margin: 16px 0 4px 0;
	font-weight: bold;
	color: #666;
	}

#supportText ul {
	list-style: none;
	padding: 8px;
	}

#supportText ul li {
	text-align: justify;
	line-height: 140%;
	background: url('../images/bullet_arrowBlock.gif') 0 5px no-repeat;
	padding: 4px;
	padding-left: 21px;
	line-height: 15px;
	}

/* Index Add-on Styles *************************** */

.indexIntro {
	width: 490px;
	margin: 0 auto;
	padding: 20px 20px 0 20px;
	padding-left: 120px;
	border: 0;
/*
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc; */
	background: transparent url('../images/theStates.gif') 10px 10px no-repeat;
	}

.indexIntro h3 {
	font-size: 16px;
	font-weight: normal;
	color: #0071BB;
	}

.indexIntro p {
	text-align: justify;
	font-size: 11px;
	line-height: 140%;
	}

/* Sub Add-on Styles *************************** */

.subIntro {
	width: 490px;
	margin: 20px auto;
	padding: 20px 20px 0 20px;
	padding-left: 120px;
	border: 0;
	border-top: 1px solid #ccc;
/*
	border-bottom: 1px solid #ccc; */
	background: transparent url('../images/theStates.gif') 10px 10px no-repeat;
	}

.subIntro h3 {
	font-size: 16px;
	font-weight: normal;
	color: #0071BB;
	}

.subIntro p {
	text-align: justify;
	font-size: 11px;
	line-height: 140%;
	}

/* Feedback *************************** */

.feedbackMsg {
	margin: 20px 0;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: left;
	padding-left: 40px;
}

.miniFeedback {
	margin: 5px 0;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	background-color: #FFFFCC;
	border: 1px solid #FFCC33;
}

.miniError {
	margin: 5px 0;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	background-color: #FFE1E1;
	border: 1px solid #CC6666;
}

.successMsg {
	background-color: #E8F2DB;
	background-image: url('/images/css/icons/icon_sucess.gif');
	background-position: 8px 6px;
	background-repeat: no-repeat;
	border: 1px solid #A9D975;
}

.errorMsg {
	background-color: #FFCCCC;
	background-image: url('/images/css/icons/icon_error.gif');
	background-position: 8px 6px;
	background-repeat: no-repeat;
	border: 1px solid #CC6666;
}

.warningMsg {
	background-color: #fff;
	background-image: url('/images/css/icons/icon_warning.gif');
	background-position: 8px 6px;
	background-repeat: no-repeat;
	border: 1px solid #FFCC33;
}

.infoMsg {
	background-color: #DEEBFA;
	background-image: url('/images/css/icons/icon_info.gif');
	background-position: 8px 6px;
	background-repeat: no-repeat;
	border: 1px solid #93B7DB;
}

.feedbackMsg h4 {
	font-size: 10pt;
	margin: 0;
	padding: 6px;
}

.noBorder {
	border: 0;
}

.offerHeader {
	width: 100%;
	text-align: center;
	position: relative;
	margin: 0 auto;
	background: #fff;
}

/* extraJobs *************************** */

#extraJobs {
	margin: 60px 0 40px;
	border: 1px solid #ccc;
	background: #f7f7f7;
}

.extraJobContainer {
	/*
	background: transparent url('../images/extraJobs_bottom_bg.gif') bottom left no-repeat;
	*/
	width: 680px;
	margin: 0 auto;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 9pt;
}

.extraJobContent {
	/*
	background: transparent url('../images/extraJobs_top_bg.gif') top left no-repeat;
	*/
	padding: 5px 15px 5px;
}

.extraJobContent h3 {
	margin: 0;
	font-size: 12pt;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

.extraJobContent dl dt, .extraJobContent dl dd {
	margin: 0;
	padding: 0;
}

.extraJobContent dl dd {
	margin-top: 8px;
}

/* extraJobs *************************** */

.googleInsert {
	clear: both;
	text-align: center;
	margin: 10px auto;
	font-family: Arial, Verdana, sans-serif;
	width: 720px;
}

/* Added styles for Google Ads */
#first_ad_unit {
	padding: 0;
	margin: 0;
}
.google_ad {
	margin-bottom: 10px;
	font-family: "Trebuchet MS", Verdana, sans-serif;
}
.google_ad * {
	font-size: 11px !important;
	line-height: 130%;
}
.google_ad_line {
	font-size: 12px !important;
}

.googleHoriz {
	padding: 0 5px;
	margin: 0;
	text-align: left;
	margin-top: -10px;
	margin-left: -10px;
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size:12px;
}

.googleHoriz a{
	font-size:15px;
}

.google_ad_horiz {
	float: left;
	clear: right;
	width: 230px;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	margin-top: 10px;
}

.google_ad_bot {
	width: 250px;
	padding: 0;
	margin: 0;
	padding-bottom:5px;
	font-family: "Trebuchet MS", Verdana, Helvetica, sans-serif;
}

.google_ad_bot a{
	font-size:15px;
}

.google_ad_bot span{
	font-size:12px;
}

.google_ad_bot font{
	color:#008000;
	font-size:12px;
}

.topAd {
	padding: 20px 0 30px;
	text-align: center;
}

.endChannel {
	width: 696px;
	margin: 0 auto;
	padding-top: 20px;
}

#googleAds_top_1 dt, #googleAds_bot_1 dt{
	padding-bottom:5px;
}

.googleLinkBlue a, .googleLinkBlue a:hover, .googleLinkBlue a:visited{
	text-decoration:none;
	color:#004b80;
	font-size:12px;
	font-family: "Trebuchet MS", Verdana, sans-serif;
}

.googleLinkGrey a, .googleLinkGrey a:hover, .googleLinkGrey a:visited{
	text-decoration:none;
	color:#666;
	font-size:12px;
	font-family: "Trebuchet MS", Verdana, sans-serif;
}

div.keyword {
	float: left;
	position: relative;
	font-size: 13px;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	}

.keyword label {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
	font-weight:normal;
	color: #000000;
	}

.keyword label em {
	font-size: 21px;
	font-weight: normal;
	font-style: normal;
	color: #0071BB;
	}

.keyword input#keywordField {
	font-size: 20px;
	color: #333;
	padding: 3px;
	border: 1px solid #666;
	display: block;
	width: 220px;
	}

div.geo {
	float: left;
	clear: right;
	padding-left: 20px;
	font-size: 13px;
	color: #000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: normal;
	border: 0px solid green;
	}

.geo label {
	margin: 0;
	padding: 0;
	margin-bottom: 4px;
	font-weight:normal;
	color: #000000;
	}

.geo label em {
	font-size: 21px;
	font-weight: normal;
	font-style: normal;
	color: #0071BB;
	}

.geo input#geoField {
	font-size: 20px;
	color: #333;
	padding: 3px;
	border: 1px solid #666;
	display: block;
	width: 220px;
	}
@media all and (max-width: 620px) {
        div.returnUser, div.bodyContainer, .extraJobContainer { width: 100%; }
        div.headerMain { padding: 30px 0 10px 0; }
        h1.branding { padding: 0; text-align: center; }
        h1.branding img { max-width: 75%; margin: 0 auto; }
        div.bodyContainer { padding-bottom: 10px; }
        div.searchContainer { background: none; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding: 10px 0; }
        .searchContainer div.fieldContainer { width: 100%; border: none; background: none; top: 0; padding: 0; }
        .searchContainer div.searchFields { width: 95%; margin: 0 auto; padding: 0; }
        .searchContainer form { padding: 0; }
        div.keyword, div.geo, div.send { float: none; padding: 0; font-size: 14px; }
        .keyword input#keywordField, .geo input#geoField { width: 98%; margin: 0 auto; }
        .keyword label, .geo label { font-size: 14px; }
        div.geo { margin-top: 20px; }
        div.send { margin: 0 auto; }
        .send input.getJobs { top: 0; display: block; border: none; }
        input.getJobs { float: none; }
        .indexIntro { width: 95%; margin: 0 auto; padding: 0; background: none; clear: both; }
        .indexIntro h3 { font-size: 20px; }
        .indexIntro p { font-size: 14px; }
        div.footer { width: 95%; }
        .footer p.footerLinks { font-size: 14px; }
        .addthis_toolbox, .bookmarkBtn, div.searchFunctions { display:none; visibility: hidden; }
}
.reSend .btn-search {margin: 15px 0;}
